<div class="jumbotron box_homepage">
  <div class="knockout">
    <h1>The earthquake App</h1>
    <h2>This app uses open data from the USGS Earthquake Hazard Program website as part of the 
    National Earthquake Hazards Reduction Program (NEHRP)</h2>
    <%= link_to image_tag("usgs_logo.png", alt: "Earthquake logo", :size => "140x140"), 'https://earthquake.usgs.gov/' %>
    <br><br><br>
    <h2>Sign up and login to navigate the site and view earthquake data from around the world.</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
  </div>
</div>


